/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container img {
    width: 100%;
    height: auto;
}

body {
    font-size: 25px;
    color: white;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* UTILITIES */
.dashed {
    border: 3px dashed black;
}

.p-y-120 {
    padding: 120px 0;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col-direction {
    flex-direction: column;
    text-align: center;
}

.col-gap {
    column-gap: 50px;
}

.flex {
    display: flex;
    justify-content: center;

}

.line-height-60 {
    line-height: 60px;
}

#angle-down {
    color: white;
    padding-top: 5px;
    padding-left: 5px;
}

.mar-auto {
    margin: 0 auto;
}

/* CONTAINER */
.container {
    width: 60%;
    /* justify-content: center; */
    padding: 30px 0;
}


/* layover */
/* .layover {
    background-image: url(../img/wave.svg);
    background-position-y: bottom;
} */

/* TAG */
li {
    list-style: none;
}

ul.flex {
    justify-content: space-evenly;
}

hr{ 
    border: 1px solid #7289DA;
    width:70%;
}

a {
    color: white;
    text-decoration: none;
}

p {
    line-height: 40px;
}

.item-paragraph {
    color: black;
}

/* COMMON */
.first-item-section,
.third-item-section {
    background-color: #FFFFFF;
}

.second-item-section,
.big-item-section {
    background-color: #F6F6F6;
    text-align: center;
}

.signup-btn,
.footer-logo {
    justify-content: center;
    align-items: center;
}


/* HEADER */
.header-bar {
    font-size: 25px;
    background-color: #255EE9;

}

.header-ctn {
    width: 70%;
    max-width: 2000px;
}

/* Logo-side */
.logo-side,
.login-side {
    width: 20%;
}

/* Middle section */
.middle-section {
    flex-grow: 2;
    flex-direction: row;
}

/* login-side */
.login-side {
    text-align: end;
}

/* Padding */
.login-side,
.middle-section,
.logo-side {
    padding: 20px;
    /* background-color: #DAA520; */
    color: white;
}


/* MAIN */

/* HERO SECTION */
.hero-section {
    /* debug */
    /* height: 600px; */
    /* background-color: #00008B; */
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 60px;
}

.hero-box {
    width: 80%;
    flex-direction: column;
    row-gap: 50px;
}

.hero-btn {
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.hero-text {
    padding-bottom: 30px;
}

.hero-container {
    width: 50%;
    justify-content: center;
    padding: 30px 0;
}

/* FIRST ITEM SECTION */

.item-title,
.item-subtitle {
    color: black;
    font-size: 50px;
    padding: 30px 0;
    font-weight: bold;
}

.item-subtitle {
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    justify-content: center;
    margin: 30px auto;
}

.col-70 .item-title {
    font-size: 30px;
    color: #7289DA;
}

/* FIFTH SECTION */
.rectangle {
    width: 100%;
    justify-content: center;
    align-items: center;
}



/* FOOTER */
.footer-label {
    background-color: #23272A;
}

.box {
    width: 25%;
    /* min-height: 900px; */
}

#pink-box {
    width: 30%;
    /* background-color: #F08080; */
    /* border: 3px dashed black; */

}

.col-70 {
    width: 70%;
    padding-bottom: 30px;
}

.signup-section {
    width: 100%;
    padding: 20px 0;
    justify-content: space-between;
}

.ftr-container {
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#italy-flag {
    width: 50px;
    padding-right: 10px;
}

.language {
    justify-content: flex-start;
}

.social-icon {
    column-gap: 30px;
    justify-content: left;
    padding-top: 30px;
    padding-bottom: 400px;
}


/* BUTTONS */

.white-btn,
.black-btn,
.login-btn,
.blue-btn {
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    font-size: 1.5rem;
}

.login-btn,
.white-btn {
    background-color: white;
    color: black;
}

.login-btn {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.black-btn {
    background-color: #23272A;
    color: white;
    
}

.blue-btn {
    background-color: #7289DA;
}

.blue-title {
    color: #7289DA;
}

#stars {
    width: 531px;
}

/* WAVE */

.wave{
    display: flex;
    color: #F6F6F6;
    
    
}

.wave-rotate{
    display: flex;
    transform: rotate(180deg);
}

.wave-gray{
    filter: invert(1) saturate(1) brightness(0.97);
    width: 100%;
}

.wave-white{
    filter: invert(1) saturate(1) brightness(0.97);
    width: 100%;
    
}
